#!/bin/zsh
export PILOTMOON_API_KEY="op://dev/popclipweb/apikey_build_live"
export PILOTMOON_LOCAL_API_KEY="op://dev/rolo/local-dev-live-api-key"
export GH_API_KEY="op://dev/popclipweb/github_publicread_apikey"
