/**
  * Customize default theme styling by overriding CSS variables:
  * https://github.com/vuejs/vitepress/blob/main/src/client/theme-default/styles/vars.css
  */

/* PopClip Blue Theme */
:root {
  --vp-c-blue-1: rgb(50, 117, 231);
  --vp-c-blue-2: rgb(66, 142, 237);
  --vp-c-blue-3: rgb(100, 178, 244);
  --vp-c-blue-soft: rgba(50, 117, 231, 0.16);

  --mid-grey: #999;
}

.dark {
  --vp-c-blue-1: rgb(63, 162, 243);
  --vp-c-blue-2: rgb(41, 132, 199);
  --vp-c-blue-3: rgb(20, 103, 157);
  --vp-c-blue-soft: rgba(63, 162, 243, 0.16);

  --mid-grey: #555;
}

/**
  * Colors
  *
  * Each colors have exact same color scale system with 3 levels of solid
  * colors with different brightness, and 1 soft color.
  * 
  * - `XXX-1`: The most solid color used mainly for colored text. It must
  *   satisfy the contrast ratio against when used on top of `XXX-soft`.
  *
  * - `XXX-2`: The color used mainly for hover state of the button.
  *
  * - `XXX-3`: The color for solid background, such as bg color of the button.
  *   It must satisfy the contrast ratio with pure white (#ffffff) text on
  *   top of it.
  *
  * - `XXX-soft`: The color used for subtle background such as custom container
  *   or badges. It must satisfy the contrast ratio when putting `XXX-1` colors
  *   on top of it.
  *
  *   The soft color must be semi transparent alpha channel. This is crucial
  *   because it allows adding multiple "soft" colors on top of each other
  *   to create a accent, such as when having inline code block inside
  *   custom containers.
  *
  * - `default`: The color used purely for subtle indication without any
  *   special meanings attched to it such as bg color for menu hover state.
  *
  * - `brand`: Used for primary brand colors, such as link text, button with
  *   brand theme, etc.
  *
  * - `tip`: Used to indicate useful information. The default theme uses the
  *   brand color for this by default.
  *
  * - `warning`: Used to indicate warning to the users. Used in custom
  *   container, badges, etc.
  *
  * - `danger`: Used to show error, or dangerous message to the users. Used
  *   in custom container, badges, etc.
  * -------------------------------------------------------------------------- */

:root {
  --vp-c-default-1: var(--vp-c-gray-1);
  --vp-c-default-2: var(--vp-c-gray-2);
  --vp-c-default-3: var(--vp-c-gray-3);
  --vp-c-default-soft: var(--vp-c-gray-soft);

  --vp-c-brand-1: var(--vp-c-blue-1);
  --vp-c-brand-2: var(--vp-c-blue-2);
  --vp-c-brand-3: var(--vp-c-blue-3);
  --vp-c-brand-soft: var(--vp-c-blue-soft);

  --vp-c-tip-1: var(--vp-c-brand-1);
  --vp-c-tip-2: var(--vp-c-brand-2);
  --vp-c-tip-3: var(--vp-c-brand-3);
  --vp-c-tip-soft: var(--vp-c-brand-soft);

  --vp-c-warning-1: var(--vp-c-yellow-1);
  --vp-c-warning-2: var(--vp-c-yellow-2);
  --vp-c-warning-3: var(--vp-c-yellow-3);
  --vp-c-warning-soft: var(--vp-c-yellow-soft);

  --vp-c-danger-1: var(--vp-c-red-1);
  --vp-c-danger-2: var(--vp-c-red-2);
  --vp-c-danger-3: var(--vp-c-red-3);
  --vp-c-danger-soft: var(--vp-c-red-soft);
}

/**
  * Component: Button
  * -------------------------------------------------------------------------- */

:root {
  --vp-button-brand-border: transparent;
  --vp-button-brand-text: var(--vp-c-white);
  --vp-button-brand-bg: var(--vp-c-brand-1);
  --vp-button-brand-hover-border: transparent;
  --vp-button-brand-hover-text: var(--vp-c-white);
  --vp-button-brand-hover-bg: var(--vp-c-brand-2);
  --vp-button-brand-active-border: transparent;
  --vp-button-brand-active-text: var(--vp-c-white);
  --vp-button-brand-active-bg: var(--vp-c-brand-3);
}

.dark {
  --vp-button-brand-border: var(--vp-c-brand-1);
  --vp-button-brand-text: var(--vp-c-white);
  --vp-button-brand-bg: var(--vp-c-brand-3);
  --vp-button-brand-hover-border: var(--vp-c-brand-1);
  --vp-button-brand-hover-text: var(--vp-c-white);
  --vp-button-brand-hover-bg: var(--vp-c-brand-2);
  --vp-button-brand-active-border: var(--vp-c-brand-1);
  --vp-button-brand-active-text: var(--vp-c-white);
  --vp-button-brand-active-bg: var(--vp-c-brand-1);
}

/**
  * Component: Home
  * -------------------------------------------------------------------------- */

:root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(120deg,
      #4260db 30%,
      #41d1ff);

  --vp-home-hero-image-background-image: linear-gradient(-45deg,
      #4260db 30%,
      #47caff 50%);
  --vp-home-hero-image-filter: blur(40px);
}

@media (min-width: 640px) {
  :root {
    --vp-home-hero-image-filter: blur(56px);
  }
}

@media (min-width: 960px) {
  :root {
    --vp-home-hero-image-filter: blur(72px);
  }
}

/**
  * Component: Custom Block
  * -------------------------------------------------------------------------- */

:root {
  --vp-custom-block-tip-border: transparent;
  --vp-custom-block-tip-text: var(--vp-c-text-1);
  --vp-custom-block-tip-bg: var(--vp-c-brand-soft);
  --vp-custom-block-tip-code-bg: var(--vp-c-brand-soft);
}

/**
  * Component: Algolia
  * -------------------------------------------------------------------------- */

.DocSearch {
  --docsearch-primary-color: var(--vp-c-brand-1) !important;
}

/**
 * Component: Algolia
 * -------------------------------------------------------------------------- */

/* .DocSearch {
  --docsearch-primary-color: var(--vp-c-brand) !important;
} */

/* Custom CSS */

/* disable transitions */
/* *,
::before,
::after {
  animation-delay: -1ms !important;
  animation-duration: 1ms !important;
  animation-iteration-count: 1 !important;
  background-attachment: initial !important;
  scroll-behavior: auto !important;
  transition-duration: 0s !important;
  transition-delay: 0s !important;
} */

.main img[src*="#icon"] {
  height: 1.5em;
  display: inline-block;
  margin: 0 0.2em -0.35em 0.2em;
  background-color: #f6f6f6;
  padding: 0.3em;
  border-radius: 0.2em;
}

.main img[src*="#iconleft"] {
  margin-left: 0;
}

.main figure {
  padding: 8px;
  border-radius: 8px;
  background-color: var(--vp-c-bg-soft);
  margin: 1rem 0;
  text-align: center;
}

.main figure figcaption {
  text-align: center;
  font-size: 14px;
  margin-top: 8px;
  color: var(--vp-c-text-soft);
}

.main figure img,
.main figure video {
  display: inline-block;
  vertical-align: middle;
  clip-path: inset(1px 1px);
  margin: 0 auto;
}

.main figure img[src*="#pref"] {
  max-width: 280px;
}

.main figure img[src*="#h400"] {
  max-height: 400px;
}

.main figure img[src*="#bar"] {
  max-height: 100px;
}

.main h4 {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

/* 
Here we are fixing glitches caused when the ant design components
inherit styles from vitepress styling. 
Only needed for "doc" layout. */

/* a.ant-btn:hover {
  text-decoration: none;
}

ul.ant-pagination li + li {
  margin-top: 0;
} */