/**
 * Customize default theme styling by overriding CSS variables:
 * https://github.com/vuejs/vitepress/blob/main/src/client/theme-default/styles/vars.css
 */

/**
 * Colors
 * -------------------------------------------------------------------------- */

 :root {
  --vp-c-brand: rgb(50, 117, 231);
  --vp-c-brand-light: rgb(66, 142, 237);
  --vp-c-brand-lighter: rgb(100, 178, 244);
  --vp-c-brand-lightest: rgb(165, 206, 250);
  --vp-c-brand-dark: rgb(21, 83, 179);
  --vp-c-brand-darker: rgb(16, 64, 154);
  --vp-c-brand-dimm: rgba(32, 105, 231, 0.08);
}

/* my overrides */
.dark {
  --vp-c-brand: rgb(63, 162, 243);
--vp-c-brand-light: rgb(92, 181, 247);
--vp-c-brand-lighter: rgb(121, 200, 251);
--vp-c-brand-lightest: rgb(173, 220, 255);
--vp-c-brand-dark: rgb(41, 132, 199);
--vp-c-brand-darker: rgb(20, 103, 157);
--vp-c-brand-dimm: rgba(63, 162, 243, 0.08);

--vp-c-border: rgba(147, 147, 163, 0.68);
}



/**
 * Component: Button
 * -------------------------------------------------------------------------- */

:root {
  --vp-button-brand-border: var(--vp-c-brand-light);
  --vp-button-brand-text: var(--vp-c-white);
  --vp-button-brand-bg: var(--vp-c-brand);
  --vp-button-brand-hover-border: var(--vp-c-brand-light);
  --vp-button-brand-hover-text: var(--vp-c-white);
  --vp-button-brand-hover-bg: var(--vp-c-brand-light);
  --vp-button-brand-active-border: var(--vp-c-brand-light);
  --vp-button-brand-active-text: var(--vp-c-white);
  --vp-button-brand-active-bg: var(--vp-button-brand-bg);
}

.dark {
  --vp-button-brand-border: var(--vp-c-brand-light);
  --vp-button-brand-text: var(--vp-c-white);
  --vp-button-brand-bg: var(--vp-c-brand-darker);
  --vp-button-brand-hover-bg: var(--vp-c-brand-dark);
  
}

/**
 * Component: Home
 * -------------------------------------------------------------------------- */

:root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(
    120deg,
    #4260db 30%,
    #41d1ff
  );

  --vp-home-hero-image-background-image: linear-gradient(
    -45deg,
    #4260db 30%,
    #47caff 50%
  );
  --vp-home-hero-image-filter: blur(40px);
}

@media (min-width: 640px) {
  :root {
    --vp-home-hero-image-filter: blur(56px);
  }
}

@media (min-width: 960px) {
  :root {
    --vp-home-hero-image-filter: blur(72px);
  }
}

/**
 * Component: Custom Block
 * -------------------------------------------------------------------------- */

:root {
  --vp-custom-block-tip-border: var(--vp-c-brand);
  --vp-custom-block-tip-text: var(--vp-c-brand-darker);
  --vp-custom-block-tip-bg: var(--vp-c-brand-dimm);
}

.dark {
  --vp-custom-block-tip-border: var(--vp-c-brand);
  --vp-custom-block-tip-text: var(--vp-c-brand-lightest);
  --vp-custom-block-tip-bg: var(--vp-c-brand-dimm);
}

/**
 * Component: Algolia
 * -------------------------------------------------------------------------- */

.DocSearch {
  --docsearch-primary-color: var(--vp-c-brand) !important;
}

/* Custom CSS */

div.box {
  background-color: var(--vp-c-bg-soft);
  border-radius: 8px;
  padding: 16px;
}

.main img[src*="#icon"] {
  height: 1.5em;
  display: inline-block;
  margin: 0 0.2em -0.35em 0.2em;
  background-color: #f6f6f6;
  padding: 0.3em;
  border-radius: 0.2em;
}

.main img[src*="#iconleft"] {
  margin-left: 0;
}

.main figure {
  padding: 8px;
  border-radius: 8px;
  background-color: var(--vp-c-bg-soft);
  margin: 1rem 0;
  text-align: center;
}

.main figure figcaption {
  text-align: center;
  font-size: 14px;
  margin-top: 8px;
  color: var(--vp-c-text-soft);
}

.main figure img, .main figure video {
  display: inline-block;
  vertical-align: middle;
  clip-path: inset(1px 1px);
  margin: 0 auto;
}

.main figure img[src*="#pref"] {
  max-width: 280px;
}

.main figure img[src*="#h400"] {
  max-height: 400px;
}

.main figure img[src*="#bar"] {
  max-height: 100px;
}

.main h4 {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

/* 
Here we are fixing glitches caused when the ant design components
inherit styles from vitepress styling. 
Only needed for "doc" layout. */

/* a.ant-btn:hover {
  text-decoration: none;
}

ul.ant-pagination li + li {
  margin-top: 0;
} */